.container {
  padding: 0 2rem;
}

.section {
  margin-left: 40%;
  font-size: 3rem;
}

.button {
  margin-left: 45%;
  color: rgb(0, 0, 0);
  font-size: larger;
  font-weight: bolder;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  transition: border-width 0.15s, background-color 0.15s;
}

.button:hover {
  border-width: 2px;
  background-color: rgb(196, 196, 196);
}
